body {
  font-family: serif;
}

header {
  background-color: #ffc017;
  color: #191919;
  border-bottom: solid 2px black;
}
nav {
  background-color: #ffc017;
  padding-left: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  border-bottom: solid 2px black;
  position: fixed;
  width: 100%;
  z-index: 999;
}
nav img {
  transform: scale(1.2);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2em;
}

nav ul li a {
  text-decoration: none;
  color: #191919;
}
nav div {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 30em;
}
button {
  background-color: #191919;
  color: rgb(231, 231, 231);
  border-radius: 50px;
  font-size: 15px;
  padding: 10px;
}
.titolo {
  margin-top: 3em;
  margin-left: 10em;
  flex: 1 0 auto;
  min-width: 500px;
}
.titolo p {
  font-size: 2em;
  font-family: sans-serif;
  color: #343333;
  margin-top: 1.5em;
}
.titolo button {
  margin-top: 2em;
  font-size: 1em;
  padding: 10px 3em;
}

h1 {
  font-size: 10em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
header section {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
svg > * {
  transform: scale(1); /* Rimpicciolisce  */
}
.M {
  width: 800px;
  position: relative;
  top: 70px;
}
main {
  padding-left: 10em;
  border-bottom: solid 2px black;
}
h2 {
  font-size: 2em;
}
.trending {
  padding-top: 5em;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.top,
.autore {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.4em;
}
.autore img {
  border-radius: 50%;
}
.numero {
  font-weight: bold;
  color: darkgrey;
  font-size: 2em;
  margin-right: 0.5em;
}
.contenuto {
  margin-left: 3.5em;
}
.contenuto h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.stella {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.grigio {
  color: darkgrey;
}
article {
  display: flex;
  flex-wrap: wrap;

  gap: 5em;
}
.card {
  padding: 1em;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 25em;
}
footer {
  margin-top: 5em;
  padding-left: 10em;
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: white;
  color: #c1c1c1;
  border: solid 1px #c1c1c1;
  border-radius: 10px;
}
.accanto h4 {
  font-weight: bold;
}
footer section div ul {
  margin-top: 1em;
  border-top: solid 2px #c1c1c1;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 0 1em;
  color: #c1c1c1;
}
footer section div ul li {
  margin-top: 1em;
}
.massimo {
  max-width: 25em;

  margin-top: 0.5em;
}
.Flist {
  max-width: 20em;
  padding: 0;
  flex-wrap: wrap;
}
footer article {
  margin-top: 2em;
}
footer article div {
  max-width: 36em;
}
footer article div h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
footer article div p,
footer article div span {
  color: #c1c1c1;
}
