body {
  font-family: serif;
}

header {
  background-color: #ffc017;
  color: #191919;
  border-bottom: solid 2px black;
  display: flex;
  flex-direction: column;

  padding-bottom: 0;
  overflow: hidden;
}

header section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 0;
  overflow: hidden;
}

nav {
  background-color: #ffc017;
  padding-left: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  border-bottom: solid 2px black;
  position: fixed;
  width: 100%;
  z-index: 999;
}
@keyframes cambiocolore1 {
  from {
    background-color: #ffc017;
  }
  to {
    background-color: white;
  }
}
@keyframes ritornocolore1 {
  from {
    background-color: white;
  }
  to {
    background-color: #ffc017;
  }
}

nav.scrolled {
  animation: cambiocolore1 1s forwards;
}
nav.scrolled2 {
  animation: ritornocolore1 1s forwards;
}

nav img {
  transform: scale(1.2);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2em;
}

nav ul li a {
  text-decoration: none;
  color: #191919;
}
nav div {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 30em;
}
button {
  background-color: #191919;
  color: rgb(231, 231, 231);
  border-radius: 50px;
  font-size: 15px;
  padding: 10px;
}

@keyframes cambiocolore2 {
  from {
    background-color: #191919;
  }
  to {
    background-color: #1a8917;
  }
}
@keyframes ritornocolore2 {
  from {
    background-color: #1a8917;
  }
  to {
    background-color: #191919;
  }
}
button.scrolled {
  animation: cambiocolore2 1s forwards;
}
button.scrolled2 {
  animation: ritornocolore2 1s forwards;
}
.titolo {
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 7em;
  flex: 1 0 auto;
  min-width: 300px; /*500px*/
}
.titolo p {
  font-size: 2em;
  font-family: sans-serif;
  color: #343333;
  margin-top: 1.5em;
}
.titolo button {
  margin-top: 2em;
  font-size: 1em;
  padding: 10px 3em;
}

h1 {
  font-size: 10em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

svg > * {
  transform: scale(1);
}
.M {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  min-height: 462px;
}

.M svg {
  padding-top: 2em;
  width: 100%;
  height: auto;
  min-width: 550px;
  transform: scale(1.1);
  transform-origin: right center;
}
main {
  padding-left: 7em;
  border-bottom: solid 2px black;
}
h2 {
  font-size: 2em;
}
.trending {
  padding-top: 5em;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.top,
.autore {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.4em;
}
.autore img {
  border-radius: 50%;
}
.numero {
  font-weight: bold;
  color: darkgrey;
  font-size: 2em;
  margin-right: 0.5em;
}
.contenuto {
  margin-left: 3.5em;
}
.contenuto h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.stella {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.grigio {
  color: darkgrey;
}
article {
  display: flex;
  flex-wrap: wrap;

  gap: 5em;
}
.card {
  padding: 1em;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 25em;
}
footer {
  margin-top: 5em;
  padding-left: 7em;
  display: flex;
  justify-content: space-between;
}
/*mi serve un flex column*/
.colonna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.btn {
  background-color: white;
  color: #c1c1c1;
  border: solid 1px #c1c1c1;
  border-radius: 10px;
}
.accanto h4 {
  font-weight: bold;
}
footer section div ul {
  margin-top: 1em;
  border-top: solid 2px #c1c1c1;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 0 1em;
  color: #c1c1c1;
}
footer section div ul li {
  margin-top: 1em;
}
.massimo {
  max-width: 25em;
  margin-top: 0.5em;
}
.Flist {
  max-width: 20em;
  padding: 0;
  flex-wrap: wrap;
}
footer article {
  margin-top: 2em;
}
footer article div {
  max-width: 36em;
}
footer article div h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
footer article div p {
  color: #919191;
}
span {
  color: #919191;
  background-color: #e4e3e3;
  border-radius: 10px;
  padding: 3px 7px;
}
.centra {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.centra > img:last-child {
  margin-left: auto;
  width: 12em;
  height: auto;
}

.stella img:last-child {
  margin-left: auto;
}
/* Tablet */
@media screen and (max-width: 1024px) {
  header {
    min-height: auto;
  }
  header nav {
    padding-left: 2.5em;
  }
  header nav div {
    margin-right: 10em;
  }
  .titolo {
    margin-left: 2em;
    margin-top: 5em;
    flex: 2;
  }

  .M {
    flex: 1;
    min-width: 300px;
    margin-top: 0.7em;
  }

  h1 {
    font-size: 5em;
  }
  main {
    padding-left: 2em;
  }
  .grigio span {
    background-color: transparent;
    padding: 0;
    color: inherit;
    border-radius: 0;
  }
  .contenuto .stella {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .grigio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 0.9em;
    margin: 0;
  }

  .contenuto .stella img {
    display: none;
  }
  footer {
    padding-left: 2.5em;
    flex-direction: column-reverse;
  }
  .massimo {
    max-width: 70%;
  }
  .btn {
    margin-top: 0.7em;
  }

  .Flist {
    max-width: 70%;
    padding: 0;
    flex-wrap: wrap;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .M {
    width: 100%;
    top: 30px;
  }
  svg > * {
    transform: scale(0.6);
  }
}
